<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jobportal">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Aactivities.LanguageActivity"></activity>
        <activity android:name=".Aactivities.HomeActivity" />
        <activity
            android:name=".Aactivities.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Aactivities.TermsActivity"
            android:label="" />
        <activity android:name=".Aactivities.AboutActivity" />
        <activity
            android:name=".Aactivities.CommanActivity"
            android:theme="@style/LoginTheme" />
        <activity
            android:name=".Aactivities.RecruitmentActivity"
            android:theme="@style/LoginTheme" />
        <activity
            android:name=".Aactivities.VacancyActivity"
            android:theme="@style/LoginTheme" />
        <activity
            android:name=".Aactivities.ApplicationActivity"
            android:theme="@style/LoginTheme" />
        <activity
            android:name=".Aactivities.RecruitmentVacActivity"
            android:theme="@style/LoginTheme"></activity>
        <activity
            android:name=".Aactivities.VaccancyFormActivity"
            android:theme="@style/LoginTheme" />
        <activity
            android:name=".Aactivities.Traders"
            android:theme="@style/LoginTheme" />
        <activity
            android:name=".Aactivities.Others"
            android:theme="@style/LoginTheme" />
        <activity
            android:name=".Aactivities.Consultancy"
            android:theme="@style/LoginTheme" />
        <activity
            android:name=".Aactivities.Service"
            android:theme="@style/LoginTheme" />
    </application>

</manifest>